* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	line-height: 1.5;
}

#root {
	max-width: 650px;
	margin: 0 auto;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

input[type='text'] {
	border: 1px solid #ddd;
	padding-inline: 10px;
	outline: none;
	transition: border-color 0.3s ease;
}

input[type='text']:focus {
	border-color: #0076ff;
}
